.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  width: 100%;
  background: #dddddd;
}

.title {
  font-size: 32px;
  font-weight: 800;
}

.logout {
  background: #fa5555;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}
.logout:hover {
  background: #e53e3e;
}
